#button-reset,
#button-img-choose,
#button-img-save {
    font-size: 14px;
    font-weight: 600;
    padding: 13px 16px;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
}

#button-reset {
    background-color: white;
    color: rgb(107, 107, 107);
    border: 1px solid rgb(107, 107, 107);
}

#button-img-choose {
    background-color: rgb(107, 107, 107);
    color: white;
    border: none;
}

#button-img-save {
    background-color: rgb(0, 110, 212);
    color: white;
    border: none;
}

#button-reset:hover {
    color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}

#button-img-choose:hover,
#button-img-save:hover {
    opacity: 0.9;
}

#button-reset:active,
#button-img-choose:active,
#button-img-save:active {
    opacity: 0.8;
    transition: none;
}

input[type="file"] {
    display: none;
}
