#pre-image {
    position: relative;
    top: 48px;
    left: 50px;
    max-height: 352px;
    max-width: 675px;
    border-radius: 6px;
    box-shadow: 0 0 5px 2px rgb(0, 0, 0, 0.2);
}

#filtered-image {
    display: none;
    z-index: 100;
}
